@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap");

body {
	font-family: "Poppins", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 22px;
}

h1 {
	@include adaptive-font(60, 36);
	font-style: normal;
	font-weight: bold;
	line-height: 110.2%;
	letter-spacing: -0.02em;
	@include xl {
		font-size: 60px;
	}
}

h2 {
	font-weight: bold;
	@include adaptive-font(46, 30);
	line-height: 130%;
	letter-spacing: -0.03em;
	@include xl {
		font-size: 46px;
	}
}

h3 {
	font-weight: bold;
	font-size: 24px;
	line-height: 36px;
	color: #ffffff;
}
