@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@font-face {
	font-family: "gta-font";
	src: url("../../static/fonts/gta-fonts.ttf");
	font-style: italic;
	font-weight: normal;
}
@font-face {
	font-family: "gta5-font";
	src: url("../../static/fonts/gta5-fonts.ttf");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "gtaSA-font";
	src: url("../../static/fonts/gtaSA-fonts.ttf");
	font-style: normal;
	font-weight: normal;
}
body {
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 30px;
}

h1 {
	@include adaptive-font(40, 25);
	font-weight: bold;
	line-height: 50px;
	color: #e0e0e0;
	@include sm-d {
		line-height: 31px;
	}
}

h2 {
	font-weight: bold;
	@include adaptive-font(30, 20);
	line-height: 43px;
	@include md-d {
		line-height: 25px;
	}
}
