<section class="available">
	<div class="small-container">
		<h2 class="available__title">
			Yield Token Available on...
		</h2>
		<div class="available__wrapper">
			<div class="available__image">
				<img src="./img/lable-1.png" alt="">
			</div>
			<div class="available__image">
				<img src="./img/lable-2.png" alt="">
			</div>
			<div class="available__image">
				<img src="./img/lable-3.png" alt="">
			</div>
			<div class="available__image">
				<img src="./img/lable-4.png" alt="">
			</div>
			<div class="available__image">
				<img src="./img/lable-5.png" alt="">
			</div>
			<div class="available__image">
				<img src="./img/lable-2.png" alt="">
			</div>
			<div class="available__image">
				<img src="./img/lable-1.png" alt="">
			</div>
			<div class="available__image">
				<img src="./img/lable-5.png" alt="">
			</div>
			<div class="available__image">
				<img src="./img/lable-3.png" alt="">
			</div>
			<div class="available__image">
				<img src="./img/lable-4.png" alt="">
			</div>
		</div>
	</div>
</section>